@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary_color: #022680;
  --main_screen_break: 500px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-inline: 3rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 39px;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 20px;
}

p, li {
  font-size: 1.15rem;
  line-height: 1.4rem;
}

button {
  width: fit-content;
}

.underline {
  text-decoration: underline;
}

.small_screen {
  display: inline-block;
}

.large_screen {
  display: none;
}

@media (width > 700px) {
  .small_screen {
    display: none;
  }

  .large_screen {
    display: inline-block;
  }
}